<!DOCTYPE HTML>
<html>
	<head>
		<title>Social Ride Guide</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
		<link rel="shortcut icon" href="{{ url_for('static', filename='SRG_Icon.png') }}"/>
		<script src="https://kit.fontawesome.com/95391fe6bf.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
						<a href="#podcast" class="icon solid fa-podcast"><span>Podcast</span></a>
						<a href="#guides" class="icon solid fa-folder"><span>Templates</span></a>
						<a href="#newsletter" class="icon solid fa-envelope"><span>Newsletter</span></a>
						<a href="#ideas" class="icon solid fa-lightbulb"><span>Ideas?</span></a>
						<a href="https://www.patreon.com/socialrideguide" target="_blank" rel="noreferrer noopener" class="icon brands fa-patreon"><span>Patreon</span></a>
						<a href="https://www.instagram.com/socialrideguide/" target="_blank" rel="noreferrer noopener" class="icon brands fa-instagram"><span>Instagram</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>Social Ride Guide</h1>
									<p>Your Community Cycling Evangelists</p>
								</header>
								<a href="#podcast" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>SRG Podcast</span></span>
									<img src="static/images/SRR_small.jpg" alt="" />
								</a>
							</article>
						<!-- Podcast -->
							<article id="podcast" class="panel">
								<header>
									<h2>SRG Podcast</h2>
								</header>
								<p>
									Circle round and listen close for precious tips from the lips of those who have created and sustained pedal powered communities.
								</p>
								<p>
									This is <strong>not</strong> your typical two wheeling podcast. Our focus is on finding what worked, <em>and just as importantly what hasn't worked</em>, from the organizers of beloved social cycling event communities.
								</p>
								<h3>Follow Us: </h3>
										<br>
										<a href="https://open.spotify.com/show/76m5EwKiIVzOE4zyla8RzR/" target="_blank" rel="noreferrer noopener" class="icon brands fa-spotify fa-2x" style="color:#1DB954" title="Spotify">  </a>
										<a href="https://podcasts.apple.com/us/podcast/social-ride-guide/id1741051250" target="_blank" rel="noreferrer noopener" class="icon brands fa-apple fa-2x" style="color:#A2AAAD" title="Apple">  </a>
										<a href="https://www.youtube.com/playlist?list=PLNvK3t5eFPqShEJL8Mrb3jrFuKL1qMlDh" target="_blank" rel="noreferrer noopener" class="icon brands fa-youtube fa-2x" style="color:#FF0000" title="YouTube Music">  </a>
										<br>
										<br>
										<br>
								<section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="static/images/HistoryBikeGNV_Podcast.png" alt="History Bike Gainesville Logo"></a>
											<iframe width="100%" height="75" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1799399212&color=%23d89d8b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
											<p>This episode features the organizer of History Bike Gainesville, which is quickly approaching a decade of rides. Don’t let the brevity of this episode deceive you. There are many gems and takeaways for organizers who want to build rides that outlast them.</p>
											<p>Nigel Rudolph of History Bike Gainesville recorded at Depot Park in Gainesville, FL.</p>
											<p>Follow HistoryBike on <a href="https://www.instagram.com/historybikegainesville/" target="_blank" rel="noreferrer noopener">Instagram</a>.</p>
											<p>And checkout <a href="https://www.fpan.us/regions/central/" target="_blank" rel="noreferrer noopener">FL Public Archaeology Network</a> to learn more about their work.</p>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="static/images/CoffeeOutsideGNV_Podcast.png" alt="CoffeeOutside Gainesville Logo"></a>
											<iframe width="100%" height="75" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1799774473&color=%23d89d8b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
											<p>This episode is part of the Ask The Organizers series and features 3 of 4 organizers for CoffeeOutside Gainesville, which just celebrated its 2 year anniversary. As you’ll hear, the friendship and interplay of the co-organizers led to equal parts laughter and actionable insights all the way to the end.</p>
											<p>Ana, Seth, and Logan of CoffeeOutside Gainesville recorded at Depot Park in Gainesville, FL.</p>
											<p>Follow CoffeeOutside.GNV on <a href="https://www.instagram.com/coffeeoutside.gnv/" target="_blank" rel="noreferrer noopener">Instagram</a>.</p>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<p><strong>More Episodes</strong> <br><em>Coming Soon...</em></p>
											<a href="#newsletter" class="button">Notify Me</a>
										</div>
										
									</div>
								</section>
							</article>
						<!-- Work -->
							<article id="guides" class="panel">
								<header>
									<h2>Ride Tips, Tricks, & Templates</h2>
								</header>
								<p>
									Starting a new social ride? You're in luck!
								</p>
								<p>
									The only thing better than knowing success leaves clues, is knowing that our SRG Podcast guests share their scripts, guides, and templates.
								</p>
								
								<section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<p> <strong>Need help creating your first Pre-ride Speech?</strong><br><br></p>
											<a href="#ride_talk_form" target="_blank" class="button">Generator</a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<p> <strong>SRG Tools & Apps List </strong> <br><em> Used by Interviewed Organizers</em><br><br></p>
											<a href="https://docs.google.com/spreadsheets/d/1W80j_hCwtw6dT78KkU4zdxBniap0m9ua7irn3MjUJsQ/edit?usp=sharing" target="_blank" rel="noreferrer noopener" class="button">Tool & App List</a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<p> <strong>Rider Waiver </strong> <br><em> Most Social Rides don't use these, but some do</em></p>
											<a href="https://docs.google.com/document/d/13-HMGHXhQ2BKMsr9mSFEhHlyXzJRtnjMhUX8j2Zh0gM/edit?usp=sharing" target="_blank" rel="noreferrer noopener" class="button">Waiver Template</a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<p> <strong>Nigel's One Page Guide. </strong> <br><em> Coming Soon...</em></p>
											<a href="#newsletter" class="button">Notify Me</a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<p> <strong>Social Media Templates</strong>  <br><em>Coming Soon...</em></p>
											<a href="#newsletter" class="button">Notify Me</a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<p><strong>Best Practices Guide</strong> <br><em>Coming Later...</em></p>
											<a href="#newsletter" class="button">Notify Me</a>
										</div>
									</div>
								</section>
							</article>
						
						<!-- Newsletter -->
							<article id="newsletter" class="panel">
								<header>
									<h2>Newsletter</h2>
								</header>
								<p>
									Wanna stay in the know?  Signup for emails announcing future releases of podcasts, ride resources, and other sweet secret sauce we're cooking up.
								</p>
								<form action="signup_submit" method="POST">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="email" required name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="submit" value="Signup" />
											</div>
										</div>
									</div>
								</form>
							</article>
						<!-- Contact -->
							<article id="ideas" class="panel">
								<header>
									<h2>Have Something to Share?</h2>
								</header>
								<form action="ideas_submit" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="email" required name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article>
						<!-- Ride Talk Form -->
							<article id="ride_talk_form" class="panel">
								{% include "ride_talk_form.html" %} 
							</article>
						<!-- Thank You -->
							<article id="thank_you" class="panel intro">
								<header>
									<h2>Thank You!</h2>
								</header>
								<p>
									Looks like you're pedalling our speed. Keep rolling. And stay in touch!
								</p>
							</article>
					</div>
				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; SocialRideGuide</li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>